<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Ticket title</th>
      <th>Stamp</th>
      <th>Email customer</th>
      <th>Tijd gemeld</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ticket_title %></td>
        <td><%= ticket.stamp %></td>
        <td><%= ticket.email_customer %></td>
        <td><%= ticket.tijd_gemeld %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
