<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket title:</strong>
  <%= @ticket.ticket_title %>
</p>

<p>
  <strong>Stamp:</strong>
  <%= @ticket.stamp %>
</p>

<p>
  <strong>Email customer:</strong>
  <%= @ticket.email_customer %>
</p>

<p>
  <strong>Tijd gemeld:</strong>
  <%= @ticket.tijd_gemeld %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
